@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Gummi Bear Kingdom - Create";
    Layout = "_Layout";
}

<h2>Add a new product</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @Html.LabelFor(model => model.Cost)
    @Html.TextBoxFor(model => model.Cost)
    <input type="submit" value="Add Product"
}

<p>@Html.ActionLink("Go Back", "Index")</p>